.header{

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0 40px;
  border-bottom: 1px solid rgb(250, 249, 247);
  margin-bottom: 20px;
}
.left-header-content{
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.right-header-content{
  margin-right: 20px;
 
}
@media screen and (max-width: 650px){
  .header{
    margin: 0 20px;
  }
}
@media screen and (max-width: 600px){
 .header{
   flex-direction: column;
   justify-content: space-around;
   height: 150px;
 }
 .left-header-content{margin: 0;}
 .right-header-content{margin: 0;}
}
@media screen and (max-width: 380px){
  .header{
    margin: 0 5px;
  }
}