.main{
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  height: 600px;
}
@media screen and (max-width: 900px){
.main{
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  } 
  @media screen and (max-width: 650px){
    .main{
      margin: 0 20px;
    }
  }
  @media screen and (max-width: 380px){
    .main{
      margin: 0 5px;
    }
  }