.replace{
  cursor: pointer;
  width: 17px;
  height: 17px; 
  transition: 1s ease;
}

.replace-box{
  background-color: rgb(250, 249, 247);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: 1px solid rgb(250, 249, 247);
  border-radius: 5px;
}